@use '../../../styles/base' as *;

.add-to-cart-btn {
    @extend %flex-center;
    flex-direction: column;
    width: 8rem;
    height: 4rem;

    background-color: $darkBlue;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: $white;
    transition: all 0.25s linear;

    &:hover {
        transform: scale(1.05);
    }

    svg {
        width: 1rem;
        height: 1rem;
    }
}
